*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: white;
}


nav li{
    display: inline-block;
    padding: 0 20px;
}

nav li a{
    color: #FFFFFF;
}

main{
    margin: 5% 5%;
}

header{
    background-color: #0f284a;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

p{
    color: #CCCCCC;
}

.idiomas{
    padding: 10px;
    text-align: right;
}

.idiomas img{
    width: 40px;
}

.title{
    display: inline-block;
    width: 49%;
    text-align: left;
}

.lista{
    display: inline-block;
    width: 49%;
    text-align: right;
}

.contenedor-about{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor-img{
    display: inline-block;
    top: 0;
    width: 49%;
    min-width: 200px;
    opacity: 0.9;
    text-align: center;
}

.contenedor-img img{
    width: 40%;
    border-radius: 50%;
}

.contenedor-info{
    display: inline-block;
    width: 49%;
    min-width: 200px;
    text-align: left;
   
}

.formacion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.formacion h2{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.formacion h3{
    color: #DDDDDD;
}

.contenedor-formacion{
    width: 400px;
    margin: 20px 10px;
}

#formacion1,#formacion2,#formacion3,#proyecto1,#proyecto2{
    display: none;
}

.proyectos{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contenedor-proyecto{
    width: 90%;
    margin: 10px 5%;
    color: #EEEEEE;
}

.contenedor-proyecto h3{
    text-align: center;
    color: #DDDDDD;
}

.contenedor-proyecto ul{
    padding-left: 3%;
}

.contenedor-proyecto a{
    color: #FFFFFF;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5%;
    text-align: center;
    justify-content: center;
}

.skills h2{
    width: 100%;
    margin: 10px 0;
}

.skills img{
    width: 40px;
    height: auto;
    margin: 0 10px;
}

.contact{
    margin: 10px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.contact p{
    margin: 10px;
}

.img-jair:hover{
    width: 54%;
    margin: 10px 23%;
}

.contenedor1{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.img-jaires{
    width: 30%;
    margin: 10px;
    display: inline-block;
}

.img-jaires:hover{
    width: 32%;
    margin: 10px;
    display: inline-block;
}

.contenido{
    padding: 10px 20%;
}

@media only screen and
(max-width: 480px) {
    main{
        margin: 5px;
    }

    .contenedor-info{
        width: 90%;
    }

    .contenedor-img{
        width: 80%;
    }

    .skills{
        margin: 2px 5%;
    }

    h1{
        font-size: 1.4rem;
    }
}
